behave==1.2.6
Faker==16.6.0
flashtext==2.7
Flask==2.2.2
Flask-Login==0.6.2
Flask-Migrate==4.0.2
Flask-Session==0.4.0
Flask-SQLAlchemy==3.0.2
Flask-WTF==1.1.1
pytest==6.2.5
pytest-base-url==2.0.0
pytest-browser==0.2.0
pytest-html==3.2.0
pytest-logger==0.5.1
pytest-metadata==2.0.4
pytest-reportlog==0.1.2
pytest-selenium==4.0.0
pytest-variables==2.0.0
selenium==4.7.2
SQLAlchemy==1.4.46
sqlparse==0.4.3
